<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--使用property子元素将数据库连接的相关配置进行改写-->
    <!--<properties>-->
        <!--<property name="database.driver" value="com.mysql.jdbc.Driver" />-->
        <!--<property name="database.url" value="jdbc:mysql://10.101.44.162:3306/geek" />-->
        <!--<property name="database.username" value="root" />-->
        <!--<property name="database.password" value="root" />-->
    <!--</properties>-->

    <!--使用属性文件-->
    <properties resource="jdbc.properties" />

    <!--mybatis settings配置-->
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>


    <!-- 别名,也可以用注解-->
    <typeAliases>
        <!--<typeAlias type="com.zft.mybatis.vo.Role" alias="role" />-->
        <!-- 可以指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean ,每一个在包com.zft.mybatis.vo中的 Java Bean,在没有注解的情况下，会使用 Bean 的首字母小写的非限定类名来作为它的别名
            比如 com.zft.mybatis.vo.Role 别名为 role,若有注解，则别名为其注解值
         -->
        <package name="com.zft.mybatis.vo" />
    </typeAliases>

    <!--配置typeHandler-->
    <typeHandlers>
        <!--<typeHandler jdbcType="VARCHAR" javaType="string" handler="com.zft.mybatis.typeHandler.MyTypeHandler" />-->
        <!--扫描方式配置 通过注解指定javaType和jdbcType-->
        <!--<package name="com.zft.mybatis.typeHandler" />-->
    </typeHandlers>

    <!--配置自定义对象工厂-->
       <objectFactory type="com.zft.mybatis.MyObjectFactory" >
        <property name="proper1" value="value1" />
    </objectFactory>


    <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="com.zft.mybatis.MyTransactionFactory" />
            <!--<transactionManager type="JDBC"/>-->
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件 -->
    <mappers>
        <mapper resource="./mapper/RoleMapper.xml"/>
        <mapper resource="./mapper/UserMapper.xml"/>
        <mapper resource="./mapper/EmployeeMapper.xml"/>
        <mapper resource="./mapper/EmployeeTaskMapper.xml"/>
        <mapper resource="./mapper/FemaleHealthFormMapper.xml"/>
        <mapper resource="./mapper/MaleHealthFormMapper.xml"/>
        <mapper resource="./mapper/TaskMapper.xml"/>
        <mapper resource="./mapper/WorkCardMapper.xml"/>
    </mappers>

</configuration>    