<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 别名,也可以用注解-->
    <typeAliases>
        <!--<typeAlias type="com.zft.mybatis.vo.Role" alias="role" />-->
        <!-- 可以指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean ,每一个在包com.zft.mybatis.vo中的 Java Bean,在没有注解的情况下，会使用 Bean 的首字母小写的非限定类名来作为它的别名
            比如 com.zft.mybatis.vo.Role 别名为 role,若有注解，则别名为其注解值
         -->
        <package name="com.zft.mybatis.vo" />
    </typeAliases>


    <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://10.101.44.162:3306/geek"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射文件 -->
    <mappers>
        <mapper resource="./mapper/RoleMapper.xml"/>
    </mappers>

</configuration>    